# Dependencies directory

node_modules/*

# Compiled output directory

dist/*

# Log directory

logs/*

# Test directory

coverages/*

# Documentation directory

docs/*

# Environment files

.env
.env.*
!.env.*.encrypted
!.env.example

# Text editor directory and files • Visual Studio Code

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
