# .env.example - generated with dotenvx

# NestJS

NESTJS_PROFILE=

# Application

APPLICATION_VERSION=
APPLICATION_NAME=

# Server

SERVER_PORT=

# Security

## CORS

SECURITY_CORS_ORIGINS=
SECURITY_CORS_METHODS=
SECURITY_CORS_ALLOWED_HEADERS=
SECURITY_CORS_EXPOSED_HEADERS=
SECURITY_CORS_CREDENTIALS=
SECURITY_CORS_MAX_AGE=

## Request

SECURITY_REQUEST_JSON_LIMIT=
SECURITY_REQUEST_URLENCODED_LIMIT=

## Throttler

SECURITY_THROTTLER_TTL=
SECURITY_THROTTLER_LIMIT=

# Logging

LOGGING_LEVEL=

# Swagger

SWAGGER_ENABLED=
